* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.h-primary{
    font-size: 3.8rem;
    padding: 18px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 10px 25px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}